#canvas {
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a77bca;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel,
.right-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.bottom-panel {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 276px;
}

.bottom-row {
  display: inline;
  gap: 10px;
  justify-content: center;
  width: 276px;
}

button {
  font-size: 1rem;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s, transform 0.1s;
}

button:hover {
  background-color: #eee;
  transform: scale(1.05);
}

.selectedTool {
  background-color: #f0c420;
}
